h1 {
  font-family: 'Nixie one', cursive;
  font-weight: 400;
}
p {
  font-family: 'Ledger', serif;
  font-weight: 400;
}
.text-white {
  color: white;
  font-size: 132px;
}
#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: url(img/sidebarBG.png);
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#wrapper.active {
  padding-left: 0;
}

#wrapper.active #sidebar-wrapper {
  left: 0;
}

#page-content-wrapper {
  width: 100%;
  background: url(img/lines.png);
}



.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
  padding-left: 60px;
}

.sidebar-nav li a span:before {
  position: absolute;
  left: 0;
  color: #41484c;
  text-align: center;
  width: 20px;
  line-height: 18px;
}

.sidebar-nav li a:hover,
.sidebar-nav li.active {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

/*.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}*/

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}



.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

#menu-toggle {
    text-decoration: none;
}

.btn-menu {
  color: #000;
} 

.inset {
  padding: 20px;
}

@media (max-width:767px) {

#wrapper {
  padding-left: 0;
}

#sidebar-wrapper {
  left: 0;
}

#wrapper.active {
  position: relative;
  left: 250px;
}

#wrapper.active #sidebar-wrapper {
  left: 250px;
  width: 250px;
  transition: all 0.4s ease 0s;
}

#menu-toggle {
  display: inline-block;
}

.inset {
  padding: 15px;
}

}
.jumbotron {
  
  height: 100vh;
  width: 100vw;
  background: url(img/house.jpeg) no-repeat center center;
  background-size: cover; 
}
.bioPic {
  margin-top:70px;
  max-height:300px;
  max-width: 300px;
  padding:0;
  overflow: hidden;
}
.fa.fa-university {
  color:#08CBD6;
}
.fa.fa-university span {
  color:#999999;
}
.fa.fa-wrench {
  color:#F45213;
}
.fa.fa-wrench span {
  color:#999999;
}
.fa.fa-desktop {
  color:#F99807;
}
.fa.fa-desktop span{
  color:#999999;
}
.fa.fa-phone-square {
  color:#24A2E0;
}
.fa.fa-phone-square span {
  color:#999999;
}
.iHlogo {
  max-height: 75px;
  max-width: 75px;
  
}
.school {
  padding-top:10px;
}
.workHeight {
  max-height:350px;
  width: 700px;
  padding-top: 10px;
}
#education {
  list-style-image: url(img/ironhack_logonegro.png);
}
.skillsIcon {
  max-width: 80px;
  max-height:  80px;
}












